    {% extends "layout.html" %}
    {% block content %}
    {% if user.is_authenticated %}
     <h1 class="display-4">All Groups</h1>
            <p class="lead">List of your groups</p>
            {% for user in users %}
                {% for group in user.groups.all %}
{#                    {% if group.user == user %}#} {# tu już chyba sprawdzenie niepotrzebne? #}
                            <ul>
                                <li>{{group}}</li>
                            </ul>
{#                {% endif %}#}
                {% endfor %}
            {% endfor %}
    {% else %}
        <p>You're not logged in</p>
    {% endif %}


    {% endblock %}